body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: #d4af37;
  text-align: center;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #d4af37;
}

header img {
  height: 90px;
}

nav a {
  margin: 0 15px;
  font-size: 18px;
  color: #d4af37;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: white;
}

/* Hero */
.hero {
  padding: 60px 20px;
}

.hero-logo {
  width: 160px;
}

.btn {
  background: #d4af37;
  color: black;
  padding: 10px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

/* Productos */
#productos {
  margin-top: 60px;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 20px;
}

.card {
  background: #111;
  border: 2px solid #d4af37;
  width: 260px;
  padding: 15px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.precio {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.btn-wsp {
  background: #d4af37;
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

/* Secciones */
section {
  padding: 40px 20px;
}
